<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>odata-sample</display-name>
 
  <servlet>
    <servlet-name>ODataServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
 
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
    </init-param>
 
    <init-param>
      <param-name>org.apache.olingo.odata2.service.factory</param-name>
      <param-value>jp.co.flect.odatasample.odata.MyODataJPAServiceFactory</param-value>
    </init-param>
 
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>jp.co.flect.odatasample.web.HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>JPATestServlet</servlet-name>
    <servlet-class>jp.co.flect.odatasample.web.JPATestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DebugServlet</servlet-name>
    <servlet-class>jp.co.flect.odatasample.web.ODataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ODataServlet</servlet-name>
    <url-pattern>/entities.svc/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JPATestServlet</servlet-name>
    <url-pattern>/jpatest</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DebugServlet</servlet-name>
    <url-pattern>/debug/*</url-pattern>
  </servlet-mapping>

</web-app>